<html>
  <head>
    <title>Bypass network</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <div id='container'>
        <img id="bg" src="https://s3.amazonaws.com/ipcam-parkinglot/ipcam.jpg" />
    </div>
    <script>
        // document.addEventListener('DOMContentLoaded', function () {
        //     setInterval(function() {
        //         document.getElementById('bg').src='https://s3.amazonaws.com/ipcam-parkinglot/ipcam.jpg';
        //         document.getElementById('container').style.display = 'none';
        //         document.getElementById('container').style.display = 'block';
        //     }, 500);
        // }, false);
        setInterval(() => {
            document.getElementById('bg').style.display = 'none';
            // document.getElementById('bg').src='https://s3.amazonaws.com/ipcam-parkinglot/1.jpg';
            // console.log('...force repaint...', document.getElementById('bg').src);
            document.getElementById('bg').style.display = 'block';
            document.getElementById('bg').src='https://s3.amazonaws.com/ipcam-parkinglot/ipcam.jpg';
            console.log('...why...', document.getElementById('bg').src);
        }, 100);
    </script>
  </body>
</html>
